$white: #ffffff;
$light: #eff8f7;
$light-activ: #d9efec;
$primary: #34aca7;
$black: #000000;
$smokie: #e5e5e5;

$borderDashedLine: 1px dashed $smokie;
$borderSolidLine: 1px solid $smokie;
$borderFooter: 2px solid $smokie;

$mainFont: Arial;
$secondFont: Verdana;
